body{
	background: url('../images/matrix.png');
	font-family: 'Raleway', sans-serif;
	font-size: 25px;
}

header{
	margin-bottom: 20px;
}

.btn-primary,.reset{
	background-color: #e2df34;
	color: rgb(15, 7, 7);
	font-family: 'Sigmar One', sans-serif;
	font-size: 30px;
	padding: 20px;
	margin-top: 100px;
}
.btn-primary:hover, .reset:hover{
	background-color: #eeff00;
}

.container{
    background-color: rgb(215, 233, 116); 
	margin-top: 50px;
	text-align: center;
	height: 100%;
	width: 700px;
}

h2, #message, #finalMessage{
	font-family: Sigmar One;
}

.thisChoice:hover{
	background-color: #f1df38;
	color: rgb(12, 6, 6);
	padding: 10px;
}

#gif{
	margin: 30px;
}

@media screen and (max-width:640px){
	.container{
		width: 500px;
		margin-top: 200px;
		size: 200%;
	}	
}